<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>PicHash</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>PicHash</h1>

    <div class="theme-toggle-container">
        <h2>Night Mode</h2>
        <label class="switch">
            <input type="checkbox" id="theme-toggle">
            <span class="slider"></span>
        </label>
    </div>

    <main>
        <form id="upload-form">
            <input type="file" name="file" accept="image/*" required>
            <button type="submit">Generate Hashtags</button>
        </form>
        <img id="uploaded-image" style="display:none; max-width: 300px; margin-top: 20px;" />
        
        <div id="spinner" style="display:none;">
            <img src="{{ url_for('static', filename='Spinner.gif') }}" alt="Loading..." />
        </div>

        {% if hashtags %}
            <h2>Generated Hashtags</h2>
            <ul>
                {% for hashtag in hashtags %}
                    <li>{{ hashtag }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div id="result"></div>
    </main>

    <footer>
        <p>Created by Prafful Agrawal</p>
    </footer>

    <script>
        const form = document.querySelector('#upload-form');
        const result = document.querySelector('#result');
        const img = document.getElementById('uploaded-image');
        const spinner = document.getElementById('spinner');
        const themeToggle = document.getElementById('theme-toggle');

        form.addEventListener('submit', async (event) => {
            event.preventDefault();
            const formData = new FormData(form);
            const imageFile = formData.get('file');
            
            img.src = URL.createObjectURL(imageFile);
            img.style.display = 'block';
            spinner.style.display = 'flex';

            const response = await fetch('/', {
                method: 'POST',
                body: formData,
            });
            const hashtags = await response.json();
            spinner.style.display = 'none';

            if (hashtags.error) {
                result.innerHTML = `<p>${hashtags.error}</p>`;
                return;
            }

            const hashtagsList = document.createElement('ul');
            hashtags.forEach((hashtag) => {
                const li = document.createElement('li');
                li.textContent = `#${hashtag}`;
                hashtagsList.appendChild(li);
            });
            result.innerHTML = '';
            result.appendChild(hashtagsList);
        });

        themeToggle.addEventListener('change', () => {
            document.body.classList.toggle('dark-theme', themeToggle.checked);
        });
    </script>
</body>
</html>
